@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  overflow: hidden;
}

#score {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #000;
  z-index: 1000;
  user-select: none; /* Disable text selection */
  pointer-events: none; /* Disable pointer events */
}
